header {
  background: none;
}
.navbar-inner {
  box-shadow: 0px 0px 3px #aaaaaa;
  -moz-box-shadow: 0px 0px 3px #aaaaaa;
  -webkit-box-shadow: 0px 0px 3px #aaaaaa;
}
.containerNavi {
  height: 150px;
}
.containerIsotope .blogMain {
  width: 680px;
  float: left;
}
.containerIsotope .blogNavi {
  width: 340px;
  float: left;
}
.containerBlognavi {
  width: 340px;
}
@media (min-width: 768px) and (max-width: 1020px) {
  .containerIsotope .blogMain {
    width: 340px;
    float: left;
  }
  .containerIsotope .blogNavi {
    width: 340px;
    float: left;
  }
}
@media (max-width: 767px) {
  .containerIsotope {
    width: 340px;
  }
  .containerIsotope .blogMain {
    float: left;
  }
  .containerIsotope .blogNavi {
    display: none;
    float: left;
  }
}
.blogMain .main {
  background: white;
}
.blogMain .main .top .tag {
  display: none;
}
.blogMain .main .top .title {
  padding-top: 0px;
}
.blogNavi .item .main {
  padding-bottom: 25px;
}
.blogNavi .item h3 {
  margin: 0px;
  padding: 0px;
}
.blogNavi .item h4 {
  font-weight: normal;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  color: #999999;
  width: 100%;
  margin-top: 3px;
}
.blogNavi .item .border {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
@media (min-width: 980px) {
  .blogMain .item:first-child {
    width: 650px;
  }
  .blogMain .item:first-child .main {
    background: white;
  }
  .blogMain .item:first-child .main .top {
    float: right;
    width: 250px;
    padding: 25px 30px 0px 30px;
    position: relative;
    height: 173px;
  }
  .blogMain .item:first-child .main .top .tag {
    display: none;
  }
  .blogMain .item:first-child .main .top .title {
    margin-right: 30px;
    position: absolute;
    bottom: 20px;
  }
  .blogMain .item:first-child .main .top .subtitle {
    position: absolute;
    bottom: 0px;
    line-height: 1;
  }
  .blogMain .item:first-child .main .media {
    padding-top: 30px;
  }
  .blogMain .item:first-child .main .postContent {
    display: block;
    line-height: 23px;
  }
  .blogMain .item:first-child .main .footer {
    clear: both;
  }
}
.sidebar .main .top .title {
  padding-top: 0px;
  font-size: 24px;
  color: black;
}
.widget .main {
  padding: 25px 30px 15px 30px;
}
.widget .main .tagcloud a {
  color: black;
}
.widget .main ul {
  list-style: none;
  margin: 0px;
}
.widget .main ul li a {
  color: black;
}
.widget h3 {
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  padding: 0px;
  padding-bottom: 20px;
  margin: 0px;
}
#filters {
  padding-top: 0px;
  padding-bottom: 0px;
}
#filters .col {
  margin: 0px 0px 0px 0px;
}
#filters .col li {
  width: 243px;
}
#filters #showMoreTags {
  font-size: 14px;
  font-weight: 500;
  padding-top: 15px;
  display: inline-block;
}
.categoriesFilter li {
  margin-top: 2px;
}
