header {
  background: url("../img/backgroundFrontpage.jpg") repeat-x bottom #ffffff;
}
header .imageContainer {
  padding-bottom: 8px;
}
body {
  background: none;
  background-image: -webkit-linear-gradient(#dddddd 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(#dddddd 0%, #ffffff 100%);
  background-image: -o-linear-gradient(#dddddd 0%, #ffffff 100%);
  background-image: linear-gradient(#dddddd 0%, #ffffff 100%);
}
