.box-shadowNavi (@x: 0; @y: 0; @blur: 3px; @color: #aaa) {
  box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
}

.navi-inner{
	//.box-shadowNavi(0px; 0px);

}
.navbar-shadow{
	background: url("img/navibgHard.png") no-repeat scroll center 0px !important;
}
header{
	background: url("img/backgroundFrontpage.jpg") repeat-x bottom white;

	.imageContainer{
		padding-bottom: 8px;
	}
}

body{
	background: none;
	
	background-image: -webkit-linear-gradient(#dddddd 0%, white 100%); 
	background-image: -moz-linear-gradient(#dddddd 0%, white 100%); 
	background-image: -o-linear-gradient(#dddddd 0%, white 100%); 
	background-image: linear-gradient(#dddddd 0%, white 100%);
}
