.box-shadow (@x: 0; @y: 0; @blur: 3px; @color: #888) {
  box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
}

*{
	padding: 0px;
	margin: 0px;
}

a { color:inherit; }
a:hover { color:inherit; }
a:active { color:inherit; }
a:visited { color:inherit; }


body{
	background-color: #dddddd;
	
	margin: 0px;
	padding: 0px;
}

.nav li a{
	color: black !important;
	font-weight: 500;
	padding: 0px;
}



.blackLink a{
	color: black !important;
	font-weight: 500;
	padding: 0px;
}

.blackLink a:hover{
	text-decoration: underline;
}

.media{
	margin: 0px;
	padding-top: 15px;
	height: 168px;
	overflow: hidden;
}

#lang_sel{
	height: inherit !important;
	padding-top: 6px;
}

#filters{
	display:inline-block;
	  margin:0;
	  width:100%;
	  font-size: 12px;
	  padding-top: 60px;
	  padding-bottom: 30px;
	  
	.col{
		float: left;
		margin: 0px 15px 0px 15px;		
		li{
			width: 302px;
			list-style: none;
			border: 1px #cccccc solid;
			padding: 3px;
			margin: 9px 0px 0px  0px;
			line-height: 20px;

			
			div{
				background-color:#dddddd;
				padding: 3px 10px 8px;
				height: 14px;
				width: 100%
				position: relative;
				a{
					position: absolute;
					width: 290px;
					color: #333333;
					font-weight: 500;

					
				}
				a:hover{
					text-decoration: none;
				}
			}
		}
		li:hover{
			border: 1px black solid;
		}
	}
}

header{

    overflow: hidden;

	.container{
		
		.navbar{
			position: absolute;
			width: 100%;
			z-index: 1000;
			padding-top:30px;
			opacity: 0.90;
			
			.backhome{
						background: url("img/backhome.png") no-repeat left center;
						position:absolute;
						width:10px;
						padding-top:22px;
						
						left:-5px;
						
						a{
							padding-right: 0px;
							padding-left:9px;
						}

					}
			
			
			.navbar-inner{
				background-color: white;
				padding-top: 3px;
				padding-left: 15px;
				padding-right: 15px;
				
				margin-left:15px;
				margin-right:15px;
			
			}
			.navbar-shadow{
				background: url("img/navibg.png") no-repeat scroll center 0px;
				margin-left: 15px;
				margin-right: 15px;
			
			}
		}
	}
	

	
	.hero-unit{
		margin-top: 95px;
		padding: 0px;
		color: #999999;
		font-size: 48px;
		line-height: 61px;
		text-align: justify;
		text-align: left;
		
		
		.titeltxt{
			padding: 0px 45px;
		}
		
		
		#heroSlideButton{
			margin-top: 50px;
			
			margin-left: auto;
			margin-right: auto;
			display: block;
			height: 40px;
			width: 240px;
			font-size: 14px;
			font-weight: bold;
			
			color: white;
			
			text-transform: uppercase;

			border: none !important;
			
			background-color: #73be46;

			
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;

			box-shadow: 0px 0px 3px 0px rgb( 0, 0, 0 );
			
			span{
				background: url("img/icons/arrowdown.png") no-repeat scroll left;	
				display: inline-block;
				width: 21px;
				background-position-y: 2px;
				margin-left: 10px;

			}
				
			
			
			
			
		}	

	}
	


	
    .imageContainer{
    	display: block;
	    margin-left: auto;
	    margin-right: auto;
	    max-width: 1280px;
	    min-height: 600px;

    
	   img{
    	display: block;
	    margin-left: auto !important;
	    margin-right: auto !important;
	    max-width: inherit;
	   .box-shadow(0px; 0px);


		} 	
    }

}


#lang_sel_list a, #lang_sel_list a:visited{
	font-size: 14px;
	padding:10px 10px;
	font-weight: 500;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}




.test{
	margin-top: -93px;
}

.item{
	width: 310px;
	height: 150px;
	//margin:15px;
	margin: 10px 15px 10px 15px;
}

.container{
	width: 1024px;
	position: relative;

}

.containerIsotope{
	width: 1024px;
}

.spruchTile{
	width: 990px;
	font-size: 48px;
	line-height: 61px;
	

}

@media (min-width: 768px) and (max-width: 1020px) {	
	.container{
	width: 680px;
	}
	
	.spruchTile{
		width: 680px;
		font-size: 30px;
		line-height: 42px;
	}
	
	.containerIsotope{
		width: 680px;
	}
}

@media (max-width: 767px) { 
	.container{
		width: 100%;
		}
	
	.containerIsotope{
		width: 340px;
	}
	
	.spruchTile{
		width: 340px;
		.main{
			font-size: 24px;
			line-height: 30px;
		}
		
	}
}

@media (min-width: 767px) {
	
	.introTile{
		width: 650px;
		}
}





//Tiles
.item{
	p{
		margin: 0px;
	}
	
	height: auto;
	
	.main{
		.box-shadow(0px; 0px);
		background-color: white;


		.top{
			padding: 25px 30px 0px 30px;
	
			.tag{
				font-weight: bold;
				color: #73be46;	
				text-transform: uppercase;
			}
			.title{
				padding-top: 15px;
				font-size: 18px;
				line-height: 25px;
				color: #999999;
			}
			.subtitle{
				color: #666666;
				font-size: 12px;
				padding-top: 7px;
				

				
			}
		}
		.media{
			img{
				width: 100% !important;
			}
		}
		
		.postContent{
			display: none;
			padding: 30px 30px 0px 30px;
			color: #999999;
		}
		
		.content{
			padding: 15px 30px 0px 30px; 
	
			font-size: 14px;
			color: #aaaaaa;
			
			a{
				color: black;
			}
		}
		.footer{
			padding-top: 15px;
			padding-bottom: 15px;
			padding-left: 30px;
			
			.share{
				background: url("img/shareArrow.png") no-repeat scroll;	
				width: 37px;
				height: 41px;
				
				
				
				.shareCount{
					padding-top: 12px;
					padding-left: 20px;
					color: #bbbbbb;
					
				}
			
		}
			.link{
				background: url("img/arrowRightGreen.png") repeat scroll center;	
				width: 37px;
				height: 41px;
				right: 0px;
				position: absolute;
			}	
		}
	}
	.shadow{
		background: url("img/tileShadow.png") no-repeat scroll 0px 0px;
		width: 100%;
		height: 10px;
	}

}


.galerieTile{
	.media{
		padding-top: 30px;
		img{
			
		}
	}
	.submedia{
		width: 314px;
		a img {
			padding-right: 4px;
			padding-top: 4px;
			width: 151px;
			height: 87px;
		}
		padding-bottom: 30px;
	}
}

.postTile{
		.main{
			background: url("img/tileIcons/blog.jpg") no-repeat scroll left top;	
			
			
		background-position: 30px 20px;
		background-color: white;
		
		.top{
			.tag{
				padding-left: 35px;	
			}
			.subtitle{
			}
		}
	}
}

.instagramTile{
		.main{
			background: url("img/tileIcons/instagram.jpg") no-repeat scroll left top;	
			background-position: 30px 20px;
			background-color: white;
		
			.media{
				padding-top: 25px;
				height: 300px;	
			}
		.top{
			.tag{
				padding-left: 43px;	
			}
		}
		.footer{

			.share{

				.shareCount{

					
				}
			
			}
		}
	}
}


.veranstaltungsTile{
	.main{
		background: url("img/tileIcons/veranstaltung.jpg") no-repeat scroll left top;	
		
				
		background-position: 30px 20px;
		background-color: white;
		
		.top{
			.tag{
				padding-left: 38px;	
			}
	
			
		}		
		.content{
			margin-top: 0px;
			p{
				font-size: 12px;
			}
		}
		
	}

}

.videoTile{
	.main{

	}	
}


.slideshareTile{
	.main{
		.media{
			height: inherit;
		}
	}
}


.contactTile{
	.main{
		.top{
			margin-top: 0px;
			.title{
				color: black;
				padding-top: 0px;
			}
			.subtitle{
				padding-top: 2px;
				border-bottom: solid 1px #dfdfdf;
				padding-bottom: 10px;
			}
		}
		
		
		.content{
			padding-top: 5px;
			padding-bottom: 20px;
			p{
				color: #999999;
				margin: 0px;
				margin-top: 8px;
				padding-left: 25px;
				
			}
			.mail{
					color: black;
					background: url("img/icons/mail.jpg")	no-repeat left center ;
					background-position: 0px 6px;
					
				}
			.mail:hover{
					text-decoration: underline;
			}
			
			.phone{
				background: url("img/icons/phone.jpg")	no-repeat left center;	
			}
			.skype{
				background: url("img/icons/skype.jpg")	no-repeat left center;	
			}
		}
	}
}

.introTile{
	.main{
		.content{
		padding: 30px;

		font-size: 18px;
		line-height: 24px;

		}
	}
	.shadow{
		background: url("img/tileShadowLarge.png") no-repeat scroll 0px 0px;
	}
	
	
}

.twitterTile{
	font-size: 12px;
	
	.twitterHead{
		img{
			float: left;
			  -webkit-border-radius: 4px;
			  -moz-border-radius: 4px;
			  border-radius: 4px;
		}
		p{
			padding-left: 60px;
		}
		.name{
			font-weight: bold;
		}
		.time{
			color: #666666;
		}
		height: 62px;
		
		.twitterArrow {
		    position: absolute;
		    top: 50px;
		    left: 15px;
		    background: url("img/twitterArrow.png") no-repeat scroll 0px 0px;
		    width: 28px;
		    height: 12px;
		    
		}
	}
	.main{
		.content{
			padding-top: 0px;
		}
		.footer{
			border-top: solid 1px #dddddd;
			margin-top: 20px;
			padding-top: 5px;
			padding-bottom: 15px;
		
			color: #999999;
			.twitterFooterRight{
				float: right;
				padding-right: 30px;
				font-weight: 400;
				
				color: black;
				span{
					padding-left: 10px;
				}
				
			}
		}
	}
}

.downloadsTile{
	.main{
		.content{
			padding-top: 0px;
		}
		background: url("img/tileIcons/downloads.jpg") no-repeat scroll left top;	
		background-position: 30px 29px;
		background-color: white;
		padding-top: 25px;
		padding-left: 45px;
		p{
			padding-bottom: 10px;
			
		}
		padding-bottom: 10px;

	}
}

.menschenTile{

		.main{
			background: none;
			  box-shadow: none;
			  -moz-box-shadow: none;
			  -webkit-box-shadow: none;
	
			.top{
				
		
				.tag{
					text-align: center;
					border-bottom: 1px solid #999999;
					padding-bottom: 10px;
				
				}
				.title{
					text-align: center;
					color: #333;
					font-size: 24px;
				}
				.subtitle{
					text-align: center;
					color: #999;	
				}
			}
			.media{
				height: auto;
				img{
					-webkit-border-radius: 170px;
					-moz-border-radius: 170px;
					border-radius: 170px;		
					
					.box-shadow();		
				}
			}
			
			.postContent{

			}
		}
		.shadow{
		background: none;
		width: 100%;
		height: 0px;
	}

	
}

.spruchTile{
	.main{
		background: none;
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		
		color: #999999;
		
		padding: 30px;
		text-align: justify;
		text-align: left;
	}
	
}

//Footer

footer{
	.mapContainer{
		color: #999999;
		font-size: 14px;
		
		.top{
			background: url("img/footerbg.png") no-repeat scroll 0px 0px;

			padding-top: 30px;
			margin-top: 25px;
			margin-bottom: 25px;
		
			.left{
				float: left;
			}
			.right{
				float: right;
			}
		}
		.bottom{
			padding-top: 30px;
			margin-bottom: 30px;
			.left{
				float: left;
			}
			.right{
				float: right;
			}
		}
	}
	
	.map{
		padding-top: 25px;
	}
	.footerBottom{
		background-color: #333333;
	}
}



