body{
	background-color: white;
}

.nav li a{
	color: black !important;
	font-weight: 500;
	padding: 0px;
}


.hero-unit{
	.btn{
		margin-left: 25%;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	
}

.item{
	width: 300px;
	height: 150px;
	background-color: orange;
	margin:10px;
}

.container{
	//width: 970px !important;
}

@media (min-width: 768px) and (max-width: 979px) {
	.item{
	width: 330px;
	background-color: green;
	}
}
@media (max-width: 767px) { 
	.item{
	width: 100%;
	height: 150px;
	background-color: red;
	margin: 6px;
	}
}


.box-shadow (@x: 0; @y: 0; @blur: 3px; @color: #888) {
  box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
}

.hero-unit{
	color: #999999;
	background-color: white;
	font-size: 48px;
	line-height: 61px;
	padding: 25px;
		text-align: justify;

	text-align: left;	

	.subtitle{
		font-size: 16px;
	}
}


.content_color{
	background: url("img/backgroundFrontpage.jpg") repeat-x;
	background-color: #dddddd;
	padding-top: 50px;
}

.navbar-inner{
	background: url("img/navibg.jpg") no-repeat scroll center 20px;

}


.item{


	background-color: white;
	height: auto;
	.box-shadow(0px; 0px);
	
	
	.top{
		margin: 30px;
		margin-bottom: 15px;

		.tag{
			font-weight: bold;
			color: #73be46;	
			text-transform: uppercase;
		}
		.title{
			padding-top: 23px;
			font-size: 24px;
			line-height: 30px;
			color: #999999;
		}
		.subtitle{
			padding-top: 8px;
			color: #666666;
			font-size: 12px;
		}
	}
	.media{
		img{
			width: 100% !important;
		}
	}
	.submedia{
		img{
			padding: 5px;
			width: 140px;
		}
	}	
	
	
	
	
	.content{
		margin: 30px;
		margin-top: 16px;
		margin-bottom: 16px;

		font-size: 14px;
		color: #aaaaaa;
		
		a{
			color: black;
		}
	}
	.footer{
		padding-bottom: 10px;
		
		.share{
			background: url("img/shareArrow.png") repeat scroll center;	
			width: 37px;
			height: 41px;
			
			.shareCount{
				padding-top: 15px;
				padding-left: 35px;
				color: #bbbbbb;
				
			}
		
	}
		.link{
			background: url("img/arrowRightGreen.png") repeat scroll center;	
			width: 37px;
			height: 41px;
			right: 0px;
			position: absolute;
		}	
	}

}



.teaserTile{
	background-color: white;
	height: auto;
	.box-shadow(0px; 0px);
	
	.top{
		.tag{
			font-weight: bold;
			color: #73be46;	
		}
		.title{
		}

	}
	.media{
		img{
			width: 100% !important;
		}
	}
	
	.content{
		font-size: 14px;
		color: #aaaaaa;
	}
	
	.footer{
		padding-bottom: 10px;
		
		.share{
			background: url("img/shareArrow.png") repeat scroll center;	
			width: 37px;
			height: 41px;
			
			.shareCount{
				padding-top: 15px;
				padding-left: 35px;
				color: #bbbbbb;
				
			}
		
	}
		.link{
			background: url("img/arrowRightGreen.png") repeat scroll center;	
			width: 37px;
			height: 41px;
			right: 0px;
			position: absolute;
		}	
	}
	
}

.videoTile{
	.top{
		.tag{
			font-weight: bold;
			color: #73be46;	
		}
		.title{

		}
		.subtitle{
			color: #666666;
			font-size: 12px;
		}
	}
	
	.content{
		font-size: 14px;
		color: #aaaaaa;
	}
	
	.media{
		padding-bottom: 15px;
		
	}
	
	.footer{
		padding-bottom: 10px;
		
		.share{
			background: url("img/shareArrow.png") repeat scroll center;	
			width: 37px;
			height: 41px;
			
			.shareCount{
				padding-top: 15px;
				padding-left: 35px;
				color: #bbbbbb;
				
			}
		
	}
		.link{
			background: url("img/arrowRightGreen.png") repeat scroll center;	
			width: 37px;
			height: 41px;
			right: 0px;
			position: absolute;
		}	
	}
	
}


.blogTile{
	.media{
		img{
			width: 100% !important;
		}
	}
	
}




