header {
  background: none;
}
.navbar-inner {
  box-shadow: 0px 0px 3px #aaaaaa;
  -moz-box-shadow: 0px 0px 3px #aaaaaa;
  -webkit-box-shadow: 0px 0px 3px #aaaaaa;
}
.containerNavi {
  height: 150px;
}
.containerIsotope .blogMain {
  width: 680px;
  float: left;
}
.containerIsotope .blogNavi {
  width: 340px;
  float: left;
}
.containerBlognavi {
  width: 340px;
}
@media (min-width: 768px) and (max-width: 1020px) {
  .containerIsotope .blogMain {
    width: 340px;
    float: left;
  }
  .containerIsotope .blogNavi {
    width: 340px;
    float: left;
  }
}
@media (max-width: 767px) {
  .containerIsotope {
    width: 340px;
  }
  .containerIsotope .blogMain {
    float: left;
  }
  .containerIsotope .blogNavi {
    display: none;
    float: left;
  }
}
.blogMain .main {
  background: white;
}
.blogMain .main .top .tag {
  display: none;
}
.blogMain .main .top .title {
  padding-top: 0px;
}
@media (min-width: 980px) {
  .blogMain .item:first-child {
    width: 650px;
  }
  .blogMain .item:first-child .main {
    background: white;
  }
  .blogMain .item:first-child .main .top {
    float: right;
    width: 250px;
    padding: 25px 30px 0px 30px;
    position: relative;
    height: 173px;
  }
  .blogMain .item:first-child .main .top .tag {
    display: none;
  }
  .blogMain .item:first-child .main .top .title {
    margin-right: 30px;
    position: absolute;
    bottom: 20px;
  }
  .blogMain .item:first-child .main .top .subtitle {
    position: absolute;
    bottom: 0px;
    line-height: 1;
  }
  .blogMain .item:first-child .main .media {
    padding-top: 30px;
  }
  .blogMain .item:first-child .main .postContent {
    display: block;
    line-height: 23px;
  }
  .blogMain .item:first-child .main .footer {
    clear: both;
  }
}
.sidebar .main .top .title {
  padding-top: 0px;
  font-size: 24px;
  color: black;
}
.widget .main {
  padding: 25px 30px 15px 30px;
}
.widget .main .tagcloud a {
  color: black;
}
.widget .main ul {
  list-style: none;
  margin: 0px;
}
.widget .main ul li a {
  color: black;
}
.widget h3 {
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  padding: 0px;
  padding-bottom: 20px;
  margin: 0px;
}
.postTileSingle {
  font-size: 10px;
  color: #444;
  background: #ffffff url(baseline.png);
}
.postTileSingle p,
.postTileSingle li,
.postTileSingle th,
.postTileSingle td {
  font-size: 1.6em;
  line-height: 1.5em;
}
.postTileSingle p {
  margin-bottom: 1.5em;
}
.postTileSingle ul,
.postTileSingle ol {
  margin-bottom: 2.4em;
}
.postTileSingle h3,
.postTileSingle h2,
.postTileSingle h1 {
  font-weight: bold;
  line-height: 1.5em;
}
.postTileSingle h3 {
  font-size: 1.6em;
}
.postTileSingle h2 {
  font-size: 2.4em;
  padding: .5833em 0 0;
  margin-bottom: .9166em;
}
.postTileSingle h1 {
  font-size: 3.2em;
  padding: 12px 0 0;
  margin-bottom: .59em;
}
.postTileSingle table {
  border-collapse: collapse;
  margin-top: 3.6em;
  margin-bottom: 3.6em;
  table-layout: fixed;
  width: 100%;
}
.postTileSingle th {
  font-weight: normal;
}
.postTileSingle th,
.postTileSingle td {
  border-top: .0625em solid #ccc;
  padding: .6875em 1em .75em;
  vertical-align: top;
}
.postTileSingle .numeric {
  text-align: right;
}
.postTileSingle td.numeric {
  font-family: 'Anonymous Pro', monospace;
}
.postTileSingle th[scope="row"] {
  padding-left: 0;
  text-align: left;
  white-space: nowrap;
}
.postTileSingle #sizer {
  width: 89em;
  margin: 0 auto;
  overflow: auto;
}
.postTileSingle .main-content {
  float: left;
  width: 51em;
  padding: 2.4em 2em;
}
.postTileSingle .supplementary-content {
  float: left;
  width: 30em;
  padding: 2.4em 2em;
}
.postTileSingle .banner {
  margin-bottom: 1.6em;
}
