.navi-inner {
  box-shadow: 0px 0px 3px #aaaaaa;
  -moz-box-shadow: 0px 0px 3px #aaaaaa;
  -webkit-box-shadow: 0px 0px 3px #aaaaaa;
}
.navbar-shadow {
  background: url("img/navibgHard.png") no-repeat scroll center 0px !important;
}
header {
  background: none;
}
body {
  background: none;
  background-image: -webkit-linear-gradient(#dddddd 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(#dddddd 0%, #ffffff 100%);
  background-image: -o-linear-gradient(#dddddd 0%, #ffffff 100%);
  background-image: linear-gradient(#dddddd 0%, #ffffff 100%);
}
