.navi-inner {
  box-shadow: 0px 0px 3px #aaaaaa;
  -moz-box-shadow: 0px 0px 3px #aaaaaa;
  -webkit-box-shadow: 0px 0px 3px #aaaaaa;
}
header {
  background: none;
}
body {
  background: none;
  background-image: -webkit-linear-gradient(#dddddd 0%, #cccccc 100%);
  background-image: -moz-linear-gradient(#dddddd 0%, #cccccc 100%);
  background-image: -o-linear-gradient(#dddddd 0%, #cccccc 100%);
  background-image: linear-gradient(#dddddd 0%, #cccccc 100%);
}
