* {
  padding: 0px;
  margin: 0px;
}
a {
  color: inherit;
}
a:hover {
  color: inherit;
}
a:active {
  color: inherit;
}
a:visited {
  color: inherit;
}
body {
  background-color: #dddddd;
  margin: 0px;
  padding: 0px;
}
.nav li a {
  color: black !important;
  font-weight: 500;
  padding: 0px;
}
.blackLink a {
  color: black !important;
  font-weight: 500;
  padding: 0px;
}
.blackLink a:hover {
  text-decoration: underline;
}
.media {
  margin: 0px;
  padding-top: 15px;
  height: 168px;
  overflow: hidden;
}
header {
  background: url("img/backgroundFrontpage.jpg") repeat-x bottom;
  background-color: white;
  overflow: hidden;
}
header .container .navbar {
  position: absolute;
  width: 100%;
  z-index: 1000;
  padding-top: 30px;
  opacity: 0.90;
}
header .container .navbar .navbar-inner {
  background-color: white;
  padding-top: 3px;
  padding-left: 15px;
  padding-right: 15px;
}
header .container .navbar .navbar-shadow {
  background: url("img/navibg.png") no-repeat scroll center 0px;
}
header .hero-unit {
  margin-top: 95px;
  color: #999999;
  font-size: 48px;
  line-height: 61px;
  padding: 30px;
  text-align: justify;
  text-align: left;
}
header .hero-unit .btn {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 40px;
  width: 240px;
  font-size: 14px;
  font-weight: bold;
}
header .imageContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  min-height: 600px;
}
header .imageContainer img {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: inherit;
  box-shadow: 0px 0px 3px #888888;
  -moz-box-shadow: 0px 0px 3px #888888;
  -webkit-box-shadow: 0px 0px 3px #888888;
}
.test {
  margin-top: -93px;
}
.item {
  width: 310px;
  height: 150px;
  margin: 10px 15px 10px 15px;
}
.container {
  width: 996px;
  position: relative;
}
.containerIsotope {
  width: 1024px;
}
@media (min-width: 768px) and (max-width: 1020px) {
  .container {
    width: 650px;
  }
  .containerIsotope {
    width: 680px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
  .containerIsotope {
    width: 340px;
  }
}
@media (min-width: 767px) {
  .introTile {
    width: 650px;
  }
}
.item {
  height: auto;
}
.item p {
  margin: 0px;
}
.item .main {
  box-shadow: 0px 0px 3px #888888;
  -moz-box-shadow: 0px 0px 3px #888888;
  -webkit-box-shadow: 0px 0px 3px #888888;
  background-color: white;
}
.item .main .top {
  padding: 25px 30px 0px 30px;
}
.item .main .top .tag {
  font-weight: bold;
  color: #73be46;
  text-transform: uppercase;
}
.item .main .top .title {
  padding-top: 15px;
  font-size: 18px;
  line-height: 25px;
  color: #999999;
}
.item .main .top .subtitle {
  color: #666666;
  font-size: 12px;
  padding-top: 7px;
}
.item .main .media img {
  width: 100% !important;
}
.item .main .postContent {
  display: none;
  padding: 30px 30px 0px 30px;
  color: #999999;
}
.item .main .content {
  padding: 15px 30px 0px 30px;
  font-size: 14px;
  color: #aaaaaa;
}
.item .main .content a {
  color: black;
}
.item .main .footer {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
}
.item .main .footer .share {
  background: url("img/shareArrow.png") no-repeat scroll;
  width: 37px;
  height: 41px;
}
.item .main .footer .share .shareCount {
  padding-top: 12px;
  padding-left: 20px;
  color: #bbbbbb;
}
.item .main .footer .link {
  background: url("img/arrowRightGreen.png") repeat scroll center;
  width: 37px;
  height: 41px;
  right: 0px;
  position: absolute;
}
.item .shadow {
  background: url("img/tileShadow.png") no-repeat scroll 0px 0px;
  width: 100%;
  height: 10px;
}
.galerieTile .media {
  padding-top: 30px;
}
.galerieTile .submedia {
  width: 314px;
  padding-bottom: 30px;
}
.galerieTile .submedia a img {
  padding-right: 4px;
  padding-top: 4px;
  width: 151px;
  height: 87px;
}
.postTile .main {
  background: url("img/tileIcons/blog.jpg") no-repeat scroll left top;
  background-position: 30px 20px;
  background-color: white;
}
.postTile .main .top .tag {
  padding-left: 35px;
}
.instagramTile .main {
  background: url("img/tileIcons/instagram.jpg") no-repeat scroll left top;
  background-position: 30px 20px;
  background-color: white;
}
.instagramTile .main .media {
  padding-top: 25px;
  height: 300px;
}
.instagramTile .main .top .tag {
  padding-left: 43px;
}
.veranstaltungsTile .main {
  background: url("img/tileIcons/veranstaltung.jpg") no-repeat scroll left top;
  background-position: 30px 20px;
  background-color: white;
}
.veranstaltungsTile .main .top .tag {
  padding-left: 38px;
}
.veranstaltungsTile .main .content {
  margin-top: 0px;
}
.veranstaltungsTile .main .content p {
  font-size: 12px;
}
.contactTile .main .top {
  margin-top: 0px;
}
.contactTile .main .top .title {
  color: black;
  padding-top: 0px;
}
.contactTile .main .top .subtitle {
  padding-top: 2px;
  border-bottom: solid 1px #dfdfdf;
  padding-bottom: 10px;
}
.contactTile .main .content {
  padding-top: 5px;
  padding-bottom: 20px;
}
.contactTile .main .content p {
  color: #999999;
  margin: 0px;
  margin-top: 8px;
  padding-left: 25px;
}
.contactTile .main .content .mail {
  color: black;
  background: url("img/icons/mail.jpg") no-repeat left center;
  background-position: 0px 6px;
}
.contactTile .main .content .mail:hover {
  text-decoration: underline;
}
.contactTile .main .content .phone {
  background: url("img/icons/phone.jpg") no-repeat left center;
}
.contactTile .main .content .skype {
  background: url("img/icons/skype.jpg") no-repeat left center;
}
.introTile .main .content {
  padding: 30px;
  font-size: 18px;
  line-height: 24px;
}
.introTile .shadow {
  background: url("img/tileShadowLarge.png") no-repeat scroll 0px 0px;
}
.twitterTile {
  font-size: 12px;
}
.twitterTile .twitterHead {
  height: 62px;
}
.twitterTile .twitterHead img {
  float: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.twitterTile .twitterHead p {
  padding-left: 60px;
}
.twitterTile .twitterHead .name {
  font-weight: bold;
}
.twitterTile .twitterHead .time {
  color: #666666;
}
.twitterTile .twitterHead .twitterArrow {
  position: absolute;
  top: 50px;
  left: 15px;
  background: url("img/twitterArrow.png") no-repeat scroll 0px 0px;
  width: 28px;
  height: 12px;
}
.twitterTile .main .content {
  padding-top: 0px;
}
.twitterTile .main .footer {
  border-top: solid 1px #dddddd;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 15px;
  color: #999999;
}
.twitterTile .main .footer .twitterFooterRight {
  float: right;
  padding-right: 30px;
  font-weight: 400;
  color: black;
}
.twitterTile .main .footer .twitterFooterRight span {
  padding-left: 10px;
}
.downloadsTile .main {
  background: url("img/tileIcons/downloads.jpg") no-repeat scroll left top;
  background-position: 30px 29px;
  background-color: white;
  padding-top: 25px;
  padding-left: 45px;
  padding-bottom: 10px;
}
.downloadsTile .main .content {
  padding-top: 0px;
}
.downloadsTile .main p {
  padding-bottom: 10px;
}
.menschenTile .main {
  background: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.menschenTile .main .top .tag {
  text-align: center;
  color: #333;
  border-bottom: 1px solid #666666;
}
.menschenTile .main .top .title {
  text-align: center;
  color: #333;
  font-size: 24px;
}
.menschenTile .main .top .subtitle {
  text-align: center;
  color: #999;
}
.menschenTile .main .media {
  height: auto;
}
.menschenTile .main .media img {
  -webkit-border-radius: 1000000000px;
  -moz-border-radius: 1000000000px;
  border-radius: 1000000000px;
  box-shadow: 0 0 3px #888888;
  -moz-box-shadow: 0 0 3px #888888;
  -webkit-box-shadow: 0 0 3px #888888;
}
.menschenTile .shadow {
  background: none;
  width: 100%;
  height: 0px;
}
footer .mapContainer {
  color: #999999;
  font-size: 14px;
}
footer .mapContainer .top {
  background: url("img/footerbg.png") no-repeat scroll 0px 0px;
  padding-top: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
}
footer .mapContainer .top .left {
  float: left;
}
footer .mapContainer .top .right {
  float: right;
}
footer .mapContainer .bottom {
  padding-top: 30px;
  margin-bottom: 30px;
}
footer .mapContainer .bottom .left {
  float: left;
}
footer .mapContainer .bottom .right {
  float: right;
}
footer .map {
  padding-top: 25px;
}
footer .footerBottom {
  background-color: #333333;
}
