body {
  background-color: #dddddd;
}
.nav li a {
  color: black !important;
  font-weight: 500;
  padding: 0px;
}
.media {
  margin: 0px;
  padding-top: 15px;
}
header {
  background: url("img/backgroundFrontpage.jpg") repeat-x bottom;
  background-color: white;
  max-height: 600px;
  overflow: hidden;
}
header .container .navbar {
  position: absolute;
  width: 100%;
  z-index: 1000;
  padding-top: 30px;
  opacity: 0.90;
}
header .container .navbar .navbar-inner {
  background-color: white;
  padding-top: 3px;
  padding-left: 15px;
  padding-right: 15px;
}
header .container .navbar .navbar-shadow {
  background: url("img/navibg.png") no-repeat scroll center 0px;
}
header .hero-unit {
  margin-top: 95px;
  color: #999999;
  background-color: white;
  font-size: 48px;
  line-height: 61px;
  padding: 30px;
  text-align: justify;
  text-align: left;
}
header .hero-unit .btn {
  margin-top: 35px;
  margin-left: 25%;
  height: 40px;
  width: 240px;
  font-size: 14px;
  font-weight: bold;
}
header .imageContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  min-height: 600px;
  box-shadow: 0px 0px 3px #888888;
  -moz-box-shadow: 0px 0px 3px #888888;
  -webkit-box-shadow: 0px 0px 3px #888888;
}
header .imageContainer img {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: inherit;
}
.container {
  position: relative;
}
.test {
  margin-top: -93px;
}
.item {
  width: 300px;
  height: 150px;
  margin: 5px 10px 5px 10px;
}
.introTile {
  width: 620px;
}
/*
@media (min-width: 768px) and (max-width: 979px) {
	.item{
	width: 330px;
	background-color: green;
	}
}
@media (max-width: 767px) { 
	.item{
	width: 100%;
	height: 150px;
	background-color: red;
	margin: 6px;
	}
}
*/
.container {
  width: 940px;
}
.containerIsotope {
  width: 960px;
}
.item {
  height: auto;
}
.item p {
  margin: 0px;
}
.item .main {
  box-shadow: 0px 0px 3px #888888;
  -moz-box-shadow: 0px 0px 3px #888888;
  -webkit-box-shadow: 0px 0px 3px #888888;
  background-color: white;
}
.item .main .top {
  padding: 25px 30px 0px 30px;
}
.item .main .top .tag {
  font-weight: bold;
  color: #73be46;
  text-transform: uppercase;
}
.item .main .top .title {
  padding-top: 20px;
  font-size: 24px;
  line-height: 30px;
  color: #999999;
}
.item .main .top .subtitle {
  color: #666666;
  font-size: 12px;
}
.item .main .media img {
  width: 100% !important;
}
.item .main .content {
  padding: 15px 30px 0px 30px;
  font-size: 14px;
  color: #aaaaaa;
}
.item .main .content a {
  color: black;
}
.item .main .footer {
  padding-top: 16px;
  padding-bottom: 10px;
  padding-left: 30px;
}
.item .main .footer .share {
  background: url("img/shareArrow.png") no-repeat scroll;
  width: 37px;
  height: 41px;
}
.item .main .footer .share .shareCount {
  padding-top: 12px;
  padding-left: 20px;
  color: #bbbbbb;
}
.item .main .footer .link {
  background: url("img/arrowRightGreen.png") repeat scroll center;
  width: 37px;
  height: 41px;
  right: 0px;
  position: absolute;
}
.item .shadow {
  background: url("img/tileShadow.png") no-repeat scroll 0px 0px;
  width: 100%;
  height: 10px;
}
.galerieTile .media {
  padding-top: 30px;
}
.galerieTile .submedia {
  width: 304px;
  padding-bottom: 30px;
}
.galerieTile .submedia img {
  padding-right: 4px;
  padding-top: 4px;
  width: 148px;
}
.postTile .main {
  background: url("img/tileIcons/blog.jpg") no-repeat scroll left top;
  background-position: 30px 20px;
  background-color: white;
}
.postTile .main .top .tag {
  padding-left: 35px;
}
.postTile .main .top .subtitle {
  padding-top: 5px;
}
.veranstaltungsTile .main {
  background: url("img/tileIcons/veranstaltung.jpg") no-repeat scroll left top;
  background-position: 30px 20px;
  background-color: white;
}
.veranstaltungsTile .main .top .tag {
  padding-left: 38px;
}
.veranstaltungsTile .main .content {
  margin-top: 0px;
}
.veranstaltungsTile .main .content p {
  font-size: 12px;
}
.contactTile .main .top {
  margin-top: 0px;
}
.contactTile .main .top .title {
  color: black;
  padding-top: 0px;
}
.contactTile .main .top .subtitle {
  padding-top: 2px;
  border-bottom: solid 1px #dfdfdf;
  padding-bottom: 10px;
}
.contactTile .main .content {
  padding-top: 5px;
  padding-bottom: 20px;
}
.contactTile .main .content p {
  color: #999999;
  margin: 0px;
  margin-top: 8px;
  padding-left: 25px;
}
.contactTile .main .content .mail {
  color: black;
  background: url("img/icons/mail.jpg") no-repeat left center;
  background-position: 0px 6px;
}
.contactTile .main .content .mail:hover {
  text-decoration: underline;
}
.contactTile .main .content .phone {
  background: url("img/icons/phone.jpg") no-repeat left center;
}
.contactTile .main .content .skype {
  background: url("img/icons/skype.jpg") no-repeat left center;
}
.introTile .main .content {
  padding: 30px;
  font-size: 18px;
  line-height: 24px;
}
.introTile .shadow {
  background: url("img/tileShadowLarge.png") no-repeat scroll 0px 0px;
}
.downloadsTile .main {
  background: url("img/tileIcons/downloads.jpg") no-repeat scroll left top;
  background-position: 30px 35px;
  background-color: white;
  padding-top: 30px;
  padding-left: 45px;
  padding-bottom: 10px;
}
.downloadsTile .main .content {
  padding-top: 0px;
}
.downloadsTile .main p {
  padding-bottom: 10px;
}
