body {
  background-color: white;
}
.nav li a {
  color: black !important;
  font-weight: 500;
  padding: 0px;
}
.hero-unit .btn {
  margin-left: 25%;
  padding-left: 30px;
  padding-right: 30px;
}
.item {
  width: 300px;
  height: 150px;
  background-color: orange;
  margin: 10px;
}
@media (min-width: 768px) and (max-width: 979px) {
  .item {
    width: 330px;
    background-color: green;
  }
}
@media (max-width: 767px) {
  .item {
    width: 100%;
    height: 150px;
    background-color: red;
    margin: 6px;
  }
}
.hero-unit {
  color: #999999;
  background-color: white;
  font-size: 48px;
  line-height: 61px;
  padding: 25px;
  text-align: justify;
  text-align: left;
}
.hero-unit .subtitle {
  font-size: 16px;
}
.content_color {
  background: url("img/backgroundFrontpage.jpg") repeat-x;
  background-color: #dddddd;
  padding-top: 50px;
}
.navbar-inner {
  background: url("img/navibg.jpg") no-repeat scroll center 20px;
}
.item {
  background-color: white;
  height: auto;
  box-shadow: 0px 0px 3px #888888;
  -moz-box-shadow: 0px 0px 3px #888888;
  -webkit-box-shadow: 0px 0px 3px #888888;
}
.item .top {
  margin: 30px;
  margin-bottom: 15px;
}
.item .top .tag {
  font-weight: bold;
  color: #73be46;
  text-transform: uppercase;
}
.item .top .title {
  padding-top: 23px;
  font-size: 24px;
  line-height: 30px;
  color: #999999;
}
.item .top .subtitle {
  padding-top: 8px;
  color: #666666;
  font-size: 12px;
}
.item .media img {
  width: 100% !important;
}
.item .submedia img {
  padding: 5px;
  width: 140px;
}
.item .content {
  margin: 30px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 14px;
  color: #aaaaaa;
}
.item .content a {
  color: black;
}
.item .footer {
  padding-bottom: 10px;
}
.item .footer .share {
  background: url("img/shareArrow.png") repeat scroll center;
  width: 37px;
  height: 41px;
}
.item .footer .share .shareCount {
  padding-top: 15px;
  padding-left: 35px;
  color: #bbbbbb;
}
.item .footer .link {
  background: url("img/arrowRightGreen.png") repeat scroll center;
  width: 37px;
  height: 41px;
  right: 0px;
  position: absolute;
}
.teaserTile {
  background-color: white;
  height: auto;
  box-shadow: 0px 0px 3px #888888;
  -moz-box-shadow: 0px 0px 3px #888888;
  -webkit-box-shadow: 0px 0px 3px #888888;
}
.teaserTile .top .tag {
  font-weight: bold;
  color: #73be46;
}
.teaserTile .media img {
  width: 100% !important;
}
.teaserTile .content {
  font-size: 14px;
  color: #aaaaaa;
}
.teaserTile .footer {
  padding-bottom: 10px;
}
.teaserTile .footer .share {
  background: url("img/shareArrow.png") repeat scroll center;
  width: 37px;
  height: 41px;
}
.teaserTile .footer .share .shareCount {
  padding-top: 15px;
  padding-left: 35px;
  color: #bbbbbb;
}
.teaserTile .footer .link {
  background: url("img/arrowRightGreen.png") repeat scroll center;
  width: 37px;
  height: 41px;
  right: 0px;
  position: absolute;
}
.videoTile .top .tag {
  font-weight: bold;
  color: #73be46;
}
.videoTile .top .subtitle {
  color: #666666;
  font-size: 12px;
}
.videoTile .content {
  font-size: 14px;
  color: #aaaaaa;
}
.videoTile .media {
  padding-bottom: 15px;
}
.videoTile .footer {
  padding-bottom: 10px;
}
.videoTile .footer .share {
  background: url("img/shareArrow.png") repeat scroll center;
  width: 37px;
  height: 41px;
}
.videoTile .footer .share .shareCount {
  padding-top: 15px;
  padding-left: 35px;
  color: #bbbbbb;
}
.videoTile .footer .link {
  background: url("img/arrowRightGreen.png") repeat scroll center;
  width: 37px;
  height: 41px;
  right: 0px;
  position: absolute;
}
.blogTile .media img {
  width: 100% !important;
}
